<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Aidian Holder.net -- resume, portfolio, and online home for Aidian Holder</title>
  <meta name="description" content="">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/style.css">
  
  
	<script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
 
 		
  <div id="page_wrap">
 	<div id="header_wrap">
    	<header id="site_header">
			
			<nav>
    			<ul>
    				<li><a href="http://aidianholder.net/blog/">blog</a></li>
    				<li><a href="http://aidianholder.net/resume/">resume</a></li>
    				<li><a href="http://aidianholder.net/newscasts/">newscasts</a></li>
    				<li><a href="http://aidianholder.net/projects/">projects</a></li>
    				<li><a href="http://aidianholder.net/contact/">contact</a></li>
    			</ul>
    		</nav>
			
		</header>
	</div>
   
    <section id="page">
    	<h1>resume</h1>
    	
    	<section class="main" role="main">
    		
    		<dl>
            
            
            <dt>Experience</dt>
            <dd>
            	<h3>Multi-Media Producer</h3>
                <h2>KXTV-TV <span>January 2011 - July 2011</span></h2>
                <p>Managed and produced content for online and social media platforms. Responsible for creating and editing text, images, and video for daily coverage, breaking news, and special projects while promoting user engagment across platforms. Developed, programmed and deployed interactive content for special projects, sweeps, and topics of high local interest. Designed front-end elements for implementation of SEO-optimization strategy. Regularly produced newscasts on an as needed basis.</p>
            </dd>
            <dd>
                <h3>Producer</h3>
              <h2>KCRA-TV<span>August 2006 - January 2011</span></h2>
                <p>Responsible for producing newscasts and occasional special projects for NBC affiliate in Sacramento-Stockton-Modesto market (DMA 20). Responsible for all editorial and technical elements of assigned newscasts and supervising news crews and production staff. Field produced special and investigative projects.</p>
            </dd>
            <dd>
            	<h3>Producer</h3>
              <h2>WBAY-TV<span>August 2005 - August 2006</span></h2>
                <p>Produced fast-paced, live-intensive, daily newscasts for ABC affiliate in Green Bay-Appleton, WI market (DMA 69).</p>
            </dd>
            <dd>
            	<h3>Producer</h3>
              <h2>KOMU-TV<span>April 2004 - August 2005</span></h2>
                <p>Newscast producer for NBC affiliate in Columbia - Jefferson City, MO market (DMA 138). Produced special projects, features, and investigative stories. Produced re-purposed, original, and value-added online content.</p>
            </dd>
            <dd>
            	<h3>News Editor</h3>
              <h2>Missouri News<span>August 2003 - May 2005</span></h2>
                <p>Newsroom manager, assignment editor, and reporter for statehouse-based radio wire service providing state government news to commercial and public radio stations.</p>
            </dd>
            <dd>
            	<h3>Newscast Director</h3>
              <h2>KRCG-TV<span>January 2003 - April 2004</span></h2>
                <p>Director/TD for CBS affiliate in Columbia – Jefferson City market. Responsible for supervising production staff and ensuring technical quality of assigned newscasts.</p>
            </dd>
            <dd>
            	<h3>Staff Writer</h3>
              <h2>The Maneater<span>August 2002 - August 2004</span></h2>
                <p>General assignment reporter for twice-weekly, 16,000+ circulation student-run newspaper serving the students, staff, and faculty at the University of Missouri.</p>
            </dd>
            <dd>
            	<h3>Associate Producer</h3>
              <h2>KIEM-TV<span>May 2002 - August 2002</span></h2>
                <p>Associate producer for NBC affiliate in Eureka, CA (DMA 194). Wrote copy, designed graphics, caught feeds, edited video, and performed other duties as needed.</p>
            </dd>
            <dd>
            	<h3>Technical Director</h3>
              <h2>KIEM-TV<span>May 2001 - August 2002</span></h2>
                <p>Technical director and fill-in director. Performed other production jobs as needed.</p>
            </dd>
            <dd>
            	<h3>Correspondent</h3>
              <h2>The Arcata Eye<span>May 2001 - May 2002</span></h2>
                <p>Freelance reporter covering local events, institutions, and personalities for “America’s favorite obscure small-town weekly newspaper.”</p>
            </dd>
            <dd>
            	<h3>News Assistant</h3>
              <h2>KVIQ-TV<span>January 2001 - May 2001</span></h2>
                <p>Wrote copy, shot and edited video, caught feeds and logged tape for CBS affiliate in Eureka, CA. Helped produce late newscasts.</p>
            </dd>
            
                
            
            
            <dt>Education</dt>
            <dd>
                <h2>University of Missouri - Columbia</h2>
              <p>Bachelor of Journalism – Broadcast News. Minor in Political Science. Graduated Cum Laude. Specialized courses included investigative reporting, audience research, and web producing.</p>
                
                <h2>College of the Redwoods</h2>
                <p>Associate of Arts – Social Science. Lower division and general education coursework. Graduated honors program with highest honors.</p>
            </dd>
            
                                   
            
            <dt>References</dt>
            <dd class="references"><i>Personal and professional references available on request</i></dd>
            
            
    		</dl>

    	
			</section>

			
			


</section>
    <div class="push"></div>
  	</div>
    
 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <script src="{{ STATIC_URL }}js/plugins.js"></script>
  <script src="{{ STATIC_URL }}js/script.js"></script>
 
</body>
</html> 